<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h2 class="padd-20px margin-auto">Amigo secreto</h2>
      <span>
        <b>Regras: </b>
        <u>
          <li>Um amigo que já tem um "amigo secreto" não pode ser sorteado novamente</li>
          <li>É necessário ao menos 2 amigos ( que ainda não tenham amigos secretos ) para que o sorteio possa ser feito</li>
        </u>
      </span>
    </div>
    <div class="card-body padd-20px">
      <div class="row">
        <div class="margin-auto">
          <button class="btn btn-info" (click)="makeSort()">
            <b>Sortear os amigos</b>
          </button>
          <button class="btn btn-success" (click)="ModalFriend.show({ title: 'Novo amigo' })">
            <b>Cadastrar novo amigo</b>
          </button>
        </div>
      </div>
      <div class="padd-20px text-center">
        <ng-template [ngIf]="_spinner">
          <img src="/assets/spinner.gif">
        </ng-template>

        <app-friends-list [spinner]="toggleSpinner" *ngIf="!_spinner"></app-friends-list>
      </div>
    </div>
  </div>
</div>

<app-modal-data-friend (dataSave)="saveNewFriend($event)"></app-modal-data-friend>