<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h2 class="padd-20px margin-auto">Amigo secreto</h2>
    </div>
    <div class="card-body padd-20px">
      <div class="row">
        <div class="margin-auto">
          <button class="btn btn-info">
            <b>Sortear os amigos</b>
          </button>
          <button class="btn btn-success" (click)="openModal()">
            <b>Cadastrar novo amigo</b>
          </button>
        </div>
      </div>
      <div class="padd-20px text-center">
        <img *ngIf="showSpin" src="/assets/spinner.gif">

        <app-friends-list (spinner)="toggleSpinner($event)" *ngIf="!showSpin"></app-friends-list>
      </div>
    </div>
  </div>
</div>