<div class="modal fade" #modal data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ data.title }}
          </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group text-left">
            <label for="nameFriend">Nome</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': !form.controls.nome.valid }" id="nameFriend" name="nome" [formControl]="form.controls.nome">
            <div class="invalid-feedback">
              Nome é obrigatório
            </div>
          </div>

          <div class="form-group text-left">
            <label for="emailFriend">Email</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': !form.controls.email.valid }" id="emailFriend" name="email" [formControl]="form.controls.email">
            <div class="invalid-feedback">
              Email inválido
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>