<table class="table table-hover" id="table-list-friend">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <ng-template [ngIf]="friends.length">
      <tr *ngFor="let friend of friends">
        <td>{{ friend.nome }}</td>
        <td>{{ friend.email }}</td>
        <td>
          <button class="btn btn-info" (click)="editFriend(friend)">Editar</button>
          <button class="btn btn-danger" (click)="deleteFriend(friend._id)">Excluir</button>
        </td>
      </tr>
    </ng-template>
    <ng-template [ngIf]="!friends.length">
      <tr>
        <td colspan="3">Nenhum dado</td>
      </tr>
    </ng-template>
  </tbody>
</table>

<app-modal-data-friend [data]="friend_selected" (dataSave)="saveEditFriend()"></app-modal-data-friend>